<h1>Rules</h1>

<p>Sure everyone's heard of Rock, Paper, Scissors, but how do Lizard and Spock
fit into the picture?  Take a look at the following chart:</p>
<p><%= image_tag 'rules.png' %></p>
<p>Practice at home using the following hand signals:</p>
<p><%= image_tag 'hands.png' %></p>