<h1>Listing Players</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Win count</th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%=h player.username %></td>    
    <td><%=h player.win_count %></td>
  </tr>
<% end %>
</table>
